---
layout: archive
title: "Study"
permalink: /study/
author_profile: true
---

## Study
I am interested in mathematics, physics and deep learning.

{% for post in site.posts %}
  {% if post.categories contains "study" %}
<h3><a href="{{ post.url }}">{{ post.title }}</a></h3>

<p>{{ post.excerpt }}</p>

<hr>
  {% endif %}
{% endfor %}


## Teaching
**Teaching Assistant**  
- CS 246: Mining Massive Data Sets, 2026  
- CS 229: Machine Learning, 2025  
- CS 259Q: Quantum Computing, 2024  

**Volunteer**  
- Stanford Math Tournament: [Games & Strategies](/files/Games%20&%20Strategies.pdf), 2024

---

## Awards

- ICPC Pacific NorthWest Top 10 
- William Lowell Putnam Mathematical Competition Top 200  
- Chinese Mathematics Olympiad (CMO) Silver Medal
