---
layout: archive
title: "Study"
permalink: /study/
author_profile: true
---
<p>I am interested in mathematics, physics and deep learning.</p>


{% for post in site.posts %}
  {% if post.categories contains "study" %}
<h3><a href="{{ post.url }}">{{ post.title }}</a></h3>

<p>{{ post.excerpt }}</p>

<hr>
  {% endif %}
{% endfor %}


<h2>Teaching</h2>

<p>Teaching Assistant</p>
<ul>
  <li>CS 246: Mining Massive Data Sets, 2026</li>
  <li>CS 229: Machine Learning, 2025</li>
  <li>CS 259Q: Quantum Computing, 2024</li>
</ul>

<p>Volunteer</p>
<ul>
  <li>
    Stanford Math Tournament:
    <a href="/files/Games%20&%20Strategies.pdf">Games &amp; Strategies</a>, 2024
  </li>
</ul>

<hr>

<h2>Awards</h2>

<ul>
  <li>ICPC Pacific NorthWest Top 10</li>
  <li>William Lowell Putnam Mathematical Competition Top 200</li>
  <li>Chinese Mathematics Olympiad (CMO) Silver Medal</li>
</ul>

